@(message: String, categoryForm: Form[models.classes.Category])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(livretoInput.render) } 

@main("Cadastrar Categoria")("")(true) {
</div>
	<div class="container-flow">
		<div id="spotlight" class="spotlight">
			<div class="container">
				<h2>Cadastrar Categoria</h2>
			</div>
		</div>
	</div>
	
<div class="container">
	@if(message != null && !message.isEmpty) {
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@message
		</div>
	}

	@helper.form(action = controllers.routes.CategoryController.save(), 'enctype -> "multipart/form-data") {
		<div class="form-group">
			<label for="name">Nome:</label>
			<input id="name" type="text" name="name" class="form-control">
		</div>

		<div class="edit-menu clearfix form-container">
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a class="btn btn-default" href="@controllers.routes.MaterialController.list()">Cancelar</a>
		</div>
	}
}
