@(message: String, materialForm: Form[models.classes.Material], categories: java.util.List[models.classes.Category])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(livretoInput.render) } 

@main("Adicionar material")("")(true) {
</div>
    <div class="container-flow">
        <div id="spotlight" class="spotlight">
            <div class="container">
                <h2>Cadastrar Material</h2>
            </div>
        </div>
    </div>
    
<div class="container">

	@if(message != null && !message.isEmpty) {
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@message
		</div>
	}

	<div class="alert alert-danger alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Atenção!</strong> A opção de cobrança pelo material está desabilitada durante a fase de testes do <em>livreto</em>. Todos devem ser publicados como gratuitos.
	</div>

	@helper.form(action = controllers.routes.MaterialController.upload(), 'enctype -> "multipart/form-data") {
		
		@inputText(
			materialForm("title"), 
			'_label -> "Título", 
			'class -> "form-control",
			'_showErrors -> true)
			
		<div class="clearfix">
			<label for="description">Descrição</label>
			<div class="input">
				<textarea name="description" class="form-control" rows="3">@materialForm("description").value</textarea>
			</div>
		</div>


		<div class="clearfix">
			<label for="category">Categoria</label>
			<div class="input">
				<select id="category" name="category" class="form-control">
					<option value="none" selected>Nenhuma</option>
					@for(category <- categories) {
					<option value="@category.getId()">@category.getName()</option>
					}
				</select>
			</div>
		</div>	
		
		<div class="clearfix radio-selection">
			<label for="pricePolicy">Política de Pagamento</label>
			<div class="input">
				<input disabled="disabled" type="radio" id="pricePolicy_FIXED_VALUE" name="pricePolicy" value="FIXED_VALUE"	>
				<label for="pricePolicy_FIXED_VALUE">Valor fixo</label>
			</div>
			<div class="input">
				<input disabled="disabled" type="radio" id="pricePolicy_MINIMUM_VALUE" name="pricePolicy" value="MINIMUM_VALUE"	>
				<label for="pricePolicy_MINIMUM_VALUE">Valor mínimo</label>
			</div>
			<div class="input">
				<input type="radio" id="pricePolicy_FREE" name="pricePolicy" value="FREE" checked>
				<label for="pricePolicy_FREE">Gratuito</label>
			</div>
		</div>

		@inputText(
			materialForm("price"), 
			'_label -> "Valor Sugerido", 
			'class -> "form-control",
			'isPrice -> true,
			'_showErrors -> true)

		@inputFile(
			materialForm("materialFile"), 
			'_label -> "Arquivo",
			'_showErrors -> true)

		<div class="edit-menu clearfix form-container">
			<button type="submit" class="btn btn-primary">Salvar</button>
			<a class="btn btn-default" href="@controllers.routes.MaterialController.list()">Cancelar</a>
		</div>
	}
}
