@(material: models.classes.Material)
@main("Detalhes")("detalhesmaterial.css")(false) {
	<h2>@material.getTitle()</h2>
	<div style="float: left; margin-right: 20px;">
		<img width="200" src="@routes.MaterialController.renderImage(material.getId())" />
	</div>
	<div>
		<dl>
			<dt>Descrição:</dt>
				<dd>
					@if(material.getDescription() != null && !material.getDescription().isEmpty()) {
						material.getDescription();
					} else {
						<em>Não disponível</em>
					}
				</dd>
			<dt>Valor:</dt>
				<dd>
					@if(material.getPrice() != null && !material.getPrice().isEmpty()) {
						R$@material.getPrice()
					} else {
						<em>Não disponível</em>
					}
				</dd>
			<dt>Autor:</dt>
				<dd>
					@if(material.getAuthor().getName() != null && !material.getAuthor().getName().isEmpty()) {
						@material.getAuthor().getName()
					} else {
						<em>Não disponível</em>
					}
				</dd>
			<dt>Política de Preço:</dt>
				<dd>@if(material.getPricePolicy().name().equals("MINIMUM_VALUE")) { Valor Mínimo }</dd>
			<dt>Avaliação:</dt>
				@if(material.getScore() != null) {
					@if(material.getScore() > 0) {
						<span id="score-value" class="score-positive">
					} else {
						@if(material.getScore() < 0) {
							<span id="score-value" class="score-negative">
						} else {
							<span id="score-value" class="score-neutral">
						}
					}
					@material.getScore()</span>
		                <button id="upvote-button" class="btn">
						  <span class="glyphicon glyphicon-arrow-up"></span>
						</button>
					<button id="downvote-button" class="btn">
					  <span class="glyphicon glyphicon-arrow-down"></span>
					</button>
				}
			</div>
		</dl>
		
		<div style="margin-top: 40px;">
			<p>
				<a class="btn btn-primary btn-lg" role="button" href="@routes.Application.index()">Comprar</a>
				@if(controllers.AuthenticationController.getUser() != null && material.getAuthor().getId() == controllers.AuthenticationController.getUser().getId()) {
				<a class="btn btn-default btn-lg" role="button" href="@routes.MaterialController.edit(material.getId())">Editar</a>
				}
			</p>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {
			var rateEvent = function(event){
				var upvote = $(this).attr('id') == 'upvote-button';
				var url = '@routes.MaterialController.rate(material.getId(), true)';
				
				if (!upvote) {
					url = '@routes.MaterialController.rate(material.getId(), false)';
				}
				
				$.ajax
			    ({ 
			        url: url,
			        data: '',
			        type: 'post',
			        success: function(result)
			        {
			        	var scoreElement = $('#score-value');
			        	var oldScore = parseInt(scoreElement.text());
			        	var newScore = upvote ? oldScore + 1 : oldScore - 1;
			        	var scoreClass = 'score-neutral';
			        	scoreElement.text(newScore);
						if (newScore < 0) {
							scoreClass = 'score-negative';
						} else if (newScore > 0) {
							scoreClass = 'score-positive';
						}
			        	scoreElement.attr("class", scoreClass);
			        }
			    });
			};
			
			$('#upvote-button').click(rateEvent);
			$('#downvote-button').click(rateEvent);
		});
	</script>
}