@(material: models.classes.Material)
@main("Detalhes")("")(false) {
	<div class="jumbotron">
      <div class="container">
        <h2>@material.getTitle()</h2>
           <div style="float: left; margin-right: 20px;">
          @if(material.getMaterialFile() == null) {
          <img src="http://placehold.it/200x280/336600&text=livre.to" />
          } else {
          <img src="@routes.MaterialController.renderImage(material.getId())" />
          }

        </div>
          <div>
              <p>@material.getDescription()</p>
              <p><b>Valor:</b> R$@material.getPrice()</p>
              <p><b>Autor:</b> @material.getAuthor().getName()</p>
              <p><b>Categoria:</b> @if(material.getPricePolicy().name().equals("MINIMUM_VALUE")) { Valor Mínimo }</p>
              <p>
              	<b>Avaliação:</b> 
              		@if(material.getScore() > 0) {
              			<span style="color:#62c462;display:inline;">
              		} else {
              			@if(material.getScore() < 0) {
              				<span style="color:#bd362f;display:inline;">
              			} else {
              				<span style="color:#2f96b4;display:inline;">
              			}
              		}
              		@material.getScore()</span>
			  </p>
          </div>

          <div style="margin-top: 40px;">
              <p><a class="btn btn-primary btn-lg" role="button" href="@routes.Application.index()">Comprar</a></p>
          </div>
      </div>

    </div>
}