body {
  background-color: #eee;
}

.options {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.book-placeholder {
	text-align: center;
}

.price-expression {
	font-weight: bold;
}

#spotlight {
	background-color: #d6d6d6;
}