body {
  padding-top: 70px;
  padding-bottom: 30px;
  background-color: #eee;
}

.clearfix {
  margin-bottom: 20px;
}

.thumbnail {
  width: 200px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.main-content > p > .btn {
  margin: 5px 0;
}

.footer {
	padding:10px;
	color: #999;
	background-color: #000;
  opacity: 0.4;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.main-content {
	margin-bottom: 19px;
}

.btn-delete {
  margin-right: 20px;
}

.edit-menu {
  display:block;
  margin-bottom: 20px;
  margin-top: 10px;
}