body {
  padding-top: 70px;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

.clearfix {
  margin-bottom: 20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.main-content > p > .btn {
  margin: 5px 0;
}

.footer {
	padding:10px;
	color: #999;
  text-align: center;
  border-top: 1px solid #ddd;
  box-shadow: inset 0 5px 7px #ddd;
}

.footer a {
  text-decoration: none;

  font-size: 12px;
}

.main-content {
	margin-bottom: 19px;
}

.btn-delete {
  margin-left: 0px !important;
}

.edit-menu {
  display:block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.radio-selection .input {
  margin-left: 20px;
}

.radio-selection .input label {
  margin-left: 5px;
  font-weight: normal;
}

h2 {
  margin-bottom: 20px;
}

dd {
  margin-bottom: 20px;
}

.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.img-thumb {
  height: 250px;
  width: 260px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.img-preview {
  max-width: 200px;
}

.comments {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
}

.comments .btn {
  margin-top: 10px;
  float:right;
}

.comments h4 {
  margin-bottom:15px;
  font-weight: bold;
}

.comments dl {
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius:5px;
  margin-top:0px;
  margin-bottom:0px;
  text-align: left;
}

.comments dd {
  margin:0;
  text-align: left;
}

.comments dt {
  text-align: left;
  width: auto;
  margin-right: 5px;
}

.new-comment h4 {
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 5px;
}

.spotlight {
  padding: 10px 20px 10px 20px;
  margin-top: -40px;
  margin-bottom: 40px;
  background-image: linear-gradient(to bottom,#3D517C 0,#546799 100%);
  color: white;
}

.spotlight .btn {
  margin-right: 15px;
}

.navbar {
  background-image: linear-gradient(to bottom,#E6E6E6 0,#D8D8D8 100%);
  border-bottom: 0px;
  box-shadow: 0px 0px 5px #777;
}

.spotlight h2 {
  font-style: italic;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.spotlight .lead {
  font-style: italic;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;  
}

.navbar-brand {
  font-weight: 600;
  font-style: italic;
}

.spotlight small {
  color: #ddd;
  margin-left:10px;
}

.form-container {
  margin-bottom: 100px;
}

.form-container .btn {
  float:right;
  margin-top:10px;
  margin-left: 20px;
}

.login-container {
  max-width: 350px;
  margin-left:auto;
  margin-right:auto;
}

.search {
  padding: 15px;
  padding-top:0;
  margin-top:-20px;
  text-align:right;
}