@(currentPage: com.avaje.ebean.Page[models.classes.User], currentSortBy: String, currentOrder: String, currentFilter: String)
@removeMessage = { "O usuário foi removido com sucesso" }

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.UserController.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Listar Usuários")("")(true) {
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Atenção</h4>
                </div>
                <div class="modal-body">
                    Você deseja realmente remover o usuário?
                    <input type="hidden" name="userId" id="userId" value=""/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary modalClick-Ok">Sim</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container-flow">
        <div id="spotlight" class="spotlight">
            <div class="container">
                <h2>Usuários</h2>
            </div>
        </div>
    </div>
    
<div class="container">
	<div class="container">
        <div id="alert-area"></div>

	    <form action="@link(0, "name")" method="GET" class="form-inline">
	        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Usuário" class="form-control">
	        <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
	        <a class="btn btn-default pull-right" id="add" href="@routes.UserController.create()">Adicionar Usuário</a>
	    </form>
	
		@if(currentPage.getTotalRowCount == 0) {
		    
		    <div class="well">
		        <em>Nada para exibir</em>
		    </div>
		    
		} else {
		    
		    <table class="table">
		        <thead>
		            <tr>
		                @header("id", "Id")
						@header("login", "Usuário")
						@header("name", "Nome")
						@header("groups", "Grupos")
						@header("status", "Status")
						@header("gender", "Sexo")
						@header("login", "Ações")
		            </tr>
		        </thead>
		        <tbody>
		
		            @for(user <- currentPage.getList) {
		                <tr>
		                    <td><a href="@routes.UserController.edit(user.getId())">@user.getId()</a></td>
		                    <td>
								@if(user.getLogin() == null) {
									<em>-</em>
								} else {
									@user.getLogin()
								}
							</td>
							<td>
								@if(user.getName() == null) {
									<em>-</em>
								} else {
									@user.getName()
								}
							</td>
							<td>
								@if(user.getGroups() == null) {
									<em>-</em>
								} else {
									@user.getGroups()
								}
							</td>
							<td>
								@if(user.getStatus() == null) {
									<em>-</em>
								} else {
									@user.getStatus()
								}
							</td>
							<td>
								@if(user.getGender() == null) {
									<em>-</em>
								} else {
									@user.getGender()
								}
							</td>
							<td>
								@if(!user.getStatus().name().equals("ACTIVE") || user.getLogin().equals("admin")) {
									<em>-</em>
								} else {
                                    <a class="open-UserModal" href="#UserModal" data-id="@user.getId()" data-toggle="modal" data-target="#myModal"><img style="width: 15px; height: 20px;" src="@routes.Assets.at("images/trash.png")" /></a>
								}
							</td>
		                </tr>
		            }
		
		        </tbody>
		    </table>
		
		    <div id="pagination">
		        <ul class="pagination">
		            @if(currentPage.hasPrev) {
		                <li class="prev">
		                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
		                </li>
		            } else {
		                <li class="prev disabled">
		                    <a>&larr; Anterior</a>
		                </li>
		            }
		            <li class="current">
		                <a>Exibindo de @currentPage.getDisplayXtoYofZ(" a "," de um total de ")</a>
		            </li>
		            @if(currentPage.hasNext) {
		                <li class="next">
		                    <a href="@link(currentPage.getPageIndex + 1, null)">Próxima &rarr;</a>
		                </li>
		            } else {
		                <li class="next disabled">
		                    <a>Próxima &rarr;</a>
		                </li>
		            }
		        </ul>
		    </div>
		    
		}
    </div>

        <script>
            $(document).on("click", ".open-UserModal", function () {
                console.log('user-modal');
                 var userId = $(this).data('id');
                 $(".modal-body #userId").val( userId );
            });
            $(document).on("click", ".modalClick-Ok", function () {
                console.log('modal-click-ok');

                var elem = document.getElementById('userId');
                console.log(elem);

                 var userId = elem.value;

                 var url = '/users/remove?id=' + userId;
                console.log(url);

                 $.ajax
			    ({
			        url: url,
			        data: '',
			        type: 'get',
			        success: function(result)
			        {
                        
			            function newAlert (type, message) {
						    $("#alert-area").append($("<div class='alert alert-message alert-" + type + " fade in' data-alert><p> " + message + " </p></div>"));
						    $(".alert-message").delay(5000).fadeOut("slow", function () { $(this).remove(); });
						}
						newAlert('success', 'O usuário foi removido com sucesso.');
			        	$('#myModal').modal('hide');
			        },
			        error: function(XMLHttpRequest, textStatus, errorThrown) {
			        	function newAlert (type, message) {
						    $("#alert-area").append($("<div class='alert alert-message alert-" + type + " fade in' data-alert><p> " + message + " </p></div>"));
						    $(".alert-message").delay(5000).fadeOut("slow", function () { $(this).remove(); });
						}
						newAlert('danger', 'Um erro aconteceu e não foi possível realizar a operação.');
			        }
			    });

            });
        </script>
}
          