@(user: models.classes.User, currentPage: com.avaje.ebean.Page[models.classes.User], currentSortBy: String, currentOrder: String, currentFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.UserController.list(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Listar Usuários", user)("")(true) {
	<div class="container">
		<h2>Usuários</h2>
	    <form action="@link(0, "name")" method="GET" class="form-inline">
	        <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Usuário" class="form-control">
	        <input type="submit" id="searchsubmit" value="Filtrar" class="btn primary">
	        <a class="btn btn-default pull-right" id="add" href="@routes.UserController.create()">Adicionar Usuário</a>
	    </form>
	
		@if(currentPage.getTotalRowCount == 0) {
		    
		    <div class="well">
		        <em>Nada para exibir</em>
		    </div>
		    
		} else {
		    
		    <table class="table">
		        <thead>
		            <tr>
		                @header("id", "Id")
						@header("login", "Usuário")
						@header("name", "Nome")
						@header("groups", "Grupos")
						@header("status", "Status")
						@header("gender", "Sexo")
						@header("modifiedAt", "Modificado Em")
		            </tr>
		        </thead>
		        <tbody>
		
		            @for(user <- currentPage.getList) {
		                <tr>
		                    <td><a href="@routes.UserController.edit()">@user.getId()</a></td>
		                    <td>
								@if(user.getLogin() == null) {
									<em>-</em>
								} else {
									@user.getLogin()
								}
							</td>
							<td>
								@if(user.getName() == null) {
									<em>-</em>
								} else {
									@user.getName()
								}
							</td>
							<td>
								@if(user.getGroups() == null) {
									<em>-</em>
								} else {
									@user.getGroups()
								}
							</td>
							<td>
								@if(user.getStatus() == null) {
									<em>-</em>
								} else {
									@user.getStatus()
								}
							</td>
							<td>
								@if(user.getGender() == null) {
									<em>-</em>
								} else {
									@user.getGender()
								}
							</td>
							<td>
								@if(user.getModifiedAt() == null) {
									<em>-</em>
								} else {
									@user.getModifiedAt()
								}
							</td>
		                </tr>
		            }
		
		        </tbody>
		    </table>
		
		    <div id="pagination">
		        <ul class="pagination">
		            @if(currentPage.hasPrev) {
		                <li class="prev">
		                    <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
		                </li>
		            } else {
		                <li class="prev disabled">
		                    <a>&larr; Anterior</a>
		                </li>
		            }
		            <li class="current">
		                <a>Exibindo de @currentPage.getDisplayXtoYofZ(" a "," de um total de ")</a>
		            </li>
		            @if(currentPage.hasNext) {
		                <li class="next">
		                    <a href="@link(currentPage.getPageIndex + 1, null)">Próxima &rarr;</a>
		                </li>
		            } else {
		                <li class="next disabled">
		                    <a>Próxima &rarr;</a>
		                </li>
		            }
		        </ul>
		    </div>
		    
		}
    </div>
}
          