@(user: models.classes.User)

@main("Editar Perfil", null)("login.css")(true) {
	<div class="container">
        @helper.form(action = controllers.routes.UserController.editor()) {
            <h2 class="form-signin-heading">Configurações da Conta:</h2>
            <input type="text" name="name" class="form-control" value=@user.getName() required autofocus>
            <input type="email" name="mail" class="form-control" value=@user.getMail() required>
            
            <label><BR>Redefinir senha:</label>
            <input type="password" name="passwordold" class="form-control" placeholder="Senha Atual">
            <input type="password" name="passwordnew" class="form-control" placeholder="Nova Senha">
            <input type="password" name="passwordnew2" class="form-control" placeholder="Repita Nova Senha">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Salvar alterações</button>
        }
	</div>
}
