@(message: String, currentPage: com.avaje.ebean.Page[models.classes.Material])

@main("Home - livre.to")("index.css")(true) {
	<div class="container">
		@if(message != null && !message.isEmpty) {
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@message
		</div>
		}
		
		<div id="spotlight" class="jumbotron">
			<h1>livre.to</h1>
			<p class="lead">Uma plataforma solidária para venda e compartilhamento de materiais didáticos produzidos por autores independentes.</p>
			@if(controllers.AuthenticationController.getUser() == null) {
				<p><a class="btn btn-lg btn-success" href="@routes.UserController.create()" role="button">Junte-se à nós</a></p>
			}
		</div>
		
		<div class="row">
		@for(index <- 0 until currentPage.getList.size){
			<div class="clearfix col-md-3 book-placeholder">
				<a href="@routes.MaterialController.detalhe(currentPage.getList.get(index).getId())">
					<div class="img-thumb ratio" style="background-image:url(@routes.MaterialController.renderImage(currentPage.getList.get(index).getId()))"></div>
					<h5>@currentPage.getList.get(index).getTitle()</h5>
				</a>
				<p class="price-expression">
				@if(currentPage.getList.get(index).getPricePolicy().equals(models.classes.Material.PricePolicy.FREE)) {
					Gratuito!			
				} else{ 
					@if(currentPage.getList.get(index).getPricePolicy().equals(models.classes.Material.PricePolicy.FIXED_VALUE)) {
						Por R$ @currentPage.getList.get(index).getPrice()
					} else {
						A partir de R$ @currentPage.getList.get(index).getPrice()
					}
				}
				</p>
			</div>
			@if(index % 4 == 3) {
			</div><div class="row">
			}
		}
		</div>
	</div>
}