@(message: String, currentPage: com.avaje.ebean.Page[models.classes.Material], currentFilter: String, currentCategory: models.classes.Category, categories: java.util.List[models.classes.Category])

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
	
	var sortBy = "title"
	var order = "asc"
	var currentSortBy = "title"
	var currentOrder = "asc"
	
	if(newSortBy != null) {
		sortBy = newSortBy
		if(currentSortBy == newSortBy) {
			if(currentOrder == "asc") {
				order = "desc"
			} else {
				order = "asc"
			}
		} else {
			order = "asc"
		}
	}
	
	routes.Application.index("", newPage, currentFilter, if(currentCategory != null) { String.valueOf(currentCategory.getId()) } else { "" } )
}

@main("Home - livre.to")("index.css")(true) {
	</div>
	<div class="container-flow">
		<div id="spotlight" class="spotlight">
			<div class="container">
				<h1><img src="@(routes.Assets.at("images/logo-white.png"))" height="50px"></h1>
				<p class="lead">Uma plataforma solidária para venda e compartilhamento de materiais didáticos produzidos por autores independentes.</p>
				@if(controllers.AuthenticationController.getUser() == null) {
					<p><a class="btn btn-lg btn-default" href="@routes.UserController.create()" role="button">Junte-se à nós</a></p>
				}
			</div>
		</div>
	</div>
	<div class="container">
		@if(message != null && !message.isEmpty) {
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			@message
		</div>
		}
		<div class="search">
			<form action="@link(0, "name")" method="GET" class="form-inline">
				<div class="form-group">
					<input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Título" class="form-control">
				</div>
				<select id="category" name="cat" class="form-control">
					<option value="none" @if(currentCategory == null) { selected }>Nenhuma Categoria</option>
					@for(category <- categories) {
					<option value="@category.getId()" @if(currentCategory != null && category.getId() == currentCategory.getId()) { selected }>@category.getName()</option>
					}
				</select>
				<button type="submit" class="btn btn-default">Filtrar</button>
			</form>
		</div>
		<div class="row">
		@for(index <- 0 until currentPage.getList.size){
			<div class="clearfix col-md-3 book-placeholder">
				<a href="@routes.MaterialController.detalhe(currentPage.getList.get(index).getId())">
					<div class="img-thumb ratio" style="background-image:url(@routes.MaterialController.renderImage(currentPage.getList.get(index).getId()))"></div>
					<h5>@currentPage.getList.get(index).getTitle()</h5>
				</a>
				<p class="price-expression">
				@if(currentPage.getList.get(index).getPricePolicy().equals(models.classes.Material.PricePolicy.FREE)) {
					Gratuito!			
				} else{ 
					@if(currentPage.getList.get(index).getPricePolicy().equals(models.classes.Material.PricePolicy.FIXED_VALUE)) {
						Por R$ @currentPage.getList.get(index).getPrice()
					} else {
						A partir de R$ @currentPage.getList.get(index).getPrice()
					}
				}
				</p>
			</div>
			@if(index % 4 == 3) {
			</div><div class="row">
			}
		}
		</div>

		<div id="pagination">
			<ul class="pagination">
				@if(currentPage.hasPrev) {
					<li class="prev">
						<a href="@link(currentPage.getPageIndex - 1, null)">&larr; Anterior</a>
					</li>
				} else {
					<li class="prev disabled">
						<a>&larr; Anterior</a>
					</li>
				}
				<li class="current">
					<a>Exibindo de @currentPage.getDisplayXtoYofZ(" a "," de um total de ")</a>
				</li>
				@if(currentPage.hasNext) {
					<li class="next">
						<a href="@link(currentPage.getPageIndex + 1, null)">Próxima &rarr;</a>
					</li>
				} else {
					<li class="next disabled">
						<a>Próxima &rarr;</a>
					</li>
				}
			</ul>
		</div>
}