@main("Login", null)("login.css")(false) {
	<div class="container">
		@helper.form(action = controllers.routes.AuthenticationController.authorize()) {
			<h2 class="form-signin-heading">Realize o login</h2>
			<input type="text" name="login" class="form-control" placeholder="Usuário" required autofocus>
			<input type="password" name="password" class="form-control" placeholder="Senha" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		}

        <div>
            @helper.form(action = controllers.routes.AuthenticationController.showPassword()) {
                <button type="submit">Redefinir senha</button>
            }
        </div>
	</div>
}
