@(title: String)(css: String)(showFooter: Boolean)(content: Html)

<!DOCTYPE html>

<html>
	<meta charset="utf-8"> 
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        @if(!css.isEmpty()) {
			<link rel="stylesheet" media="screen" href="@(routes.Assets.at("stylesheets/" + css))">
		}
    </head>
    <body>
        @content
        
        @if(showFooter) {
	     	<div id="footer">
		     	<div class="container">
		        	<p>Footer</p>
		      	</div>
		    </div>
	    }
    </body>
	<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>    
</html>
