@(title: String)(css: String)(showFooter: Boolean)(content: Html)

<!DOCTYPE html>
<html>
	<meta charset="utf-8"> 
	<head>
		<title>@title</title>
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
		@if(!css.isEmpty()) {
			<link rel="stylesheet" media="screen" href="@(routes.Assets.at("stylesheets/" + css))">
		}
		<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>	
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="@routes.Application.index("")">livre.to</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
                    @if(controllers.AuthenticationController.getUser() != null) {
                        <!-- // TODO Verificar se é usuário admin! -->
                        @if(controllers.AuthenticationController.getUser().getLogin().equals("admin")) {
                        	<li><a href="@routes.CategoryController.list(0, "name", "asc", "")">Categorias</a></li>
					        <li><a href="@routes.UserController.list(0, "id", "asc", "")">Usuários</a></li>
                        }
					    <li><a href="@routes.MaterialController.list(0, "title", "asc","")">Materiais</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">@controllers.AuthenticationController.getUser().getName() <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="@routes.UserController.edit(controllers.AuthenticationController.getUser().getId())">Editar Perfil</a></li>
								<li><a href="@routes.AuthenticationController.logout()">Sair</a></li>
							</ul>
						</li>
					} else {
						<li><a href="@routes.AuthenticationController.login()">Entrar</a></li>
					}
					</ul>
				</div>
			</div>
		</div>

		<div class="container main-content" role="main">
		@content
		</div>

		@if(showFooter) {
	     	<div class="footer navbar-bottom">
		        <a href="">@@ livre.to 2014</a>
		    </div>
	    }
	</body>
</html>
