@(password: String)
@main("Password", null)("login.css")(false) {
	<div class="container">
        @if(password == null) {
            @helper.form(action = controllers.routes.AuthenticationController.recoveryPassword()) {
                <h2 class="form-signin-heading">Digite o e-mail do seu usuário</h2>
                <input type="text" name="mail" class="form-control" placeholder="E-mail" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Redefinir</button>
            }
        } else {
            <h2 class="form-signin-heading">Sua nova senha é: @password</h2>
            <p><a class="btn btn-primary btn-lg" role="button" href="@routes.AuthenticationController.login()">Ok :-)</a></p>
        }
	</div>
}
